keybinds clear-defaults=true {
        shared_among "pane" "tab" "search" "scroll" "session" "resize" {
                bind "Enter" { SwitchToMode "Normal"; }
        }

        // Alt + s
        pane {
                bind "l" { NewPane "Right"; }
                bind "k" { NewPane "Up"; }
                bind "j" { NewPane "Down"; }
                bind "h" { NewPane "Left"; }
                bind "c" { Clear; }
                bind "x" { CloseFocus; }
                bind "p" { DumpScreen "~/zellij-dump.txt"; SwitchToMode "Normal"; }
                bind "z" { TogglePaneFrames; SwitchToMode "Normal"; }
                bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
                bind "," { SwitchToMode "RenamePane"; PaneNameInput 0;}
                bind "i" { TogglePanePinned; SwitchToMode "Normal"; }
                // check
                bind "q" { EditScrollback; }
                bind "=" { NextSwapLayout; }
                bind "-" { NextSwapLayout; }
                bind "f" { TogglePaneEmbedOrFloating; }
        }

        // Alt + ,
        move {
                bind "h" { MovePane "Left"; }
                bind "j" { MovePane "Down"; }
                bind "k" { MovePane "Up"; }
                bind "l" { MovePane "Right"; }
                bind "n" { MovePane "Right"; }
                bind "p" { MovePane "Left"; }
        }

        // Alt + r
        resize {
                bind "h" { Resize "Increase Left"; }
                bind "j" { Resize "Increase Down"; }
                bind "k" { Resize "Increase Up"; }
                bind "l" { Resize "Increase Right"; }
                bind "H" { Resize "Decrease Left"; }
                bind "J" { Resize "Decrease Down"; }
                bind "K" { Resize "Decrease Up"; }
                bind "L" { Resize "Decrease Right"; }
                bind "=" "+" { Resize "Increase"; }
                bind "-" { Resize "Decrease"; }
        }

        // Alt + t
        tab {
                bind "x" { CloseTab; SwitchToMode "Normal"; }
                bind "c" { NewTab; SwitchToMode "Normal";}
                bind "s" { ToggleActiveSyncTab; }
                bind "," { SwitchToMode "RenameTab"; }
                // Test
                bind "b" { BreakPane; SwitchToMode "Normal"; }
                bind "]" { BreakPaneRight; SwitchToMode "Normal"; }
                bind "[" { BreakPaneLeft; SwitchToMode "Normal"; }
                bind "t" { ToggleTab; }
        }

        // Alt + /
        search {
                bind "n" { Search "up"; }
                bind "p" { Search "down"; }
                bind "c" { SearchToggleOption "CaseSensitivity"; }
                bind "w" { SearchToggleOption "Wrap"; }
                bind "o" { SearchToggleOption "WholeWord"; }
        }

        shared_among "search" "scroll" {
                bind "d" { HalfPageScrollDown; }
                bind "D" { PageScrollDown; }
                bind "u" { HalfPageScrollUp; }
                bind "U" { PageScrollUp; }
                bind "j" { ScrollDown; }
                bind "k" { ScrollUp; }
                bind "g" { ScrollToTop; }
                bind "G" { ScrollToBottom; }
                bind "/" { SwitchToMode "EnterSearch"; }
        }

        shared_among "entersearch" "renametab" "renamepane" {
                bind "Enter" { SwitchToMode "Normal";}
        }

        entersearch {
                bind "Esc" { SwitchToMode "Scroll";}
        }

        renametab {
                bind "Esc" { UndoRenameTab; }
        }

        renamepane {
                bind "Esc" { UndoRenamePane; }
        }

        // Alt + s
        session {
                bind "d" { Detach; }
                bind "q" { Quit; }
                bind "m" { ToggleMouseMode; }
                bind "w" {
                        LaunchOrFocusPlugin "session-manager" {
                                floating true
                                move_to_focused_tab true
                        };
                        SwitchToMode "Normal"
                }
        }

        shared_among "pane" {
                bind "Enter" { SwitchToMode "normal"; }
        }

        shared {
                bind "Alt g" { SwitchToMode "locked"; }
        }

        locked {
                bind "Alt g" { SwitchToMode "normal"; }
        }

        shared_among "pane" "normal" "locked" {
                bind "Alt h" { MoveFocus "Left"; }
                bind "Alt j" { MoveFocus "Down"; }
                bind "Alt k" { MoveFocus "Up"; }
                bind "Alt l" { MoveFocus "Right"; }
                bind "Alt f" { ToggleFloatingPanes; }
                bind "Alt m" { ToggleFocusFullscreen; SwitchToMode "Normal";}
                bind "Alt n" { GoToNextTab; }
                bind "Alt p" { GoToPreviousTab; }
                bind "Alt f" { ToggleFloatingPanes; }
                bind "Alt t" { SwitchToMode "Tab"; }
                bind "Alt s" { SwitchToMode "Pane"; }
                bind "Alt w" { SwitchToMode "Session"; }
                bind "Alt r" { SwitchToMode "Resize"; }
                bind "Alt ," { SwitchToMode "Move"; }
                bind "Alt v" { SwitchToMode "Scroll"; }
                bind "Alt /" { SwitchToMode "Search"; }
                bind "Alt 1" { GoToTab 1; }
                bind "Alt 2" { GoToTab 2; }
                bind "Alt 3" { GoToTab 3; }
                bind "Alt 4" { GoToTab 4; }
                bind "Alt 5" { GoToTab 5; }
        }
}

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    configuration location="zellij:configuration"
    plugin-manager location="zellij:plugin-manager"
}

// Plugins to load in the background when a new session starts
load_plugins {
  // "file:/path/to/my-plugin.wasm"
  // "https://example.com/my-plugin.wasm"
}

env {
}

ui {
    pane_frames {
        rounded_corners false
        hide_session_name false
    }
}

on_force_close "detach"
simplified_ui true
default_shell "zsh"
pane_frames false
// theme "default"
// default_layout "coding"
default_mode "normal"
mouse_mode false
scroll_buffer_size 10000
copy_command "pbcopy"
copy_clipboard "system"
scrollback_editor "/opt/homebrew/bin/nvim"
mirror_session false
// layout_dir "~/.config/zellij/layouts"
// theme_dir "~/.config/zellij/themes"


auto_layout true
session_serialization true
serialize_pane_viewport false

// Scrollback lines to serialize along with the pane viewport when serializing sessions, 0
// defaults to the scrollback size. If this number is higher than the scrollback size, it will
// also default to the scrollback size. This does nothing if `serialize_pane_viewport` is not true.
// (Requires restart)
//
// scrollback_lines_to_serialize 10000


// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
copy_command "wl-copy"                    // wayland

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//

copy_on_select true
mirror_session false
styled_underlines true
disable_session_metadata false
support_kitty_keyboard_protocol false
