// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds clear-defaults=true {
  locked {
    bind "Ctrl s" { SwitchToMode "tmux"; }
    bind "Ctrl l" { MoveFocus "Right"; }
    bind "Ctrl h" { MoveFocus "Left"; }
    bind "Ctrl j" { MoveFocus "Down"; }
    bind "Ctrl k" { MoveFocus "Up"; }
    // bind "Ctrl /" { SwitchToMode "scroll"; Search "up"; }
  }
  tmux {
    bind "Enter" { SwitchToMode "locked"; }
    bind "t" { SwitchToMode "Tab"; }
    bind "p" { SwitchToMode "Pane"; }
    bind "1" { GoToTab 1; SwitchToMode "Locked"; }
    bind "2" { GoToTab 2; SwitchToMode "Locked"; }
    bind "3" { GoToTab 3; SwitchToMode "Locked"; }
    bind "4" { GoToTab 4; SwitchToMode "Locked"; }
    bind "x" { CloseFocus; SwitchToMode "Locked"; }
    bind "h" { GoToPreviousTab; SwitchToMode "Locked"; }
    bind "l" { GoToNextTab; SwitchToMode "Locked"; }
    bind "s" { SwitchToMode "Session"; }
    bind "/" { SwitchToMode "Search"; }
    bind "v" { SwitchToMode "Scroll"; }
    bind "r" { SwitchToMode "Resize"; }
  }
  pane {
    bind "Enter" { SwitchToMode "locked"; }
    bind "l" { MoveFocus "Right"; }
    bind "h" { MoveFocus "Left"; }
    bind "j" { MoveFocus "Down"; }
    bind "k" { MoveFocus "Up"; }
    bind "H" { MovePane "Left"; }
    bind "J" { MovePane "Down"; }
    bind "K" { MovePane "Up"; }
    bind "L" { MovePane "Right"; }
    bind "d" { NewPane "Down"; SwitchToMode "Locked"; }
    bind "r" { NewPane "Right"; SwitchToMode "Locked"; }
    bind "f" { ToggleFloatingPanes; SwitchToMode "locked"; }
    bind "m" { ToggleFocusFullscreen; SwitchToMode "locked"; }
    bind "," { SwitchToMode "renamepane"; }
  }
  renametab {
    bind "Enter" { SwitchToMode "locked"; }
    bind "Ctrl c" { SwitchToMode "locked"; }
    bind "Esc" { UndoRenameTab; SwitchToMode "locked"; }
  }
  renamepane {
    bind "Enter" { SwitchToMode "locked"; }
    bind "Ctrl c" { SwitchToMode "locked"; }
    bind "Esc" { UndoRenamePane; SwitchToMode "locked"; }
  }
  tab {
    bind "Enter" { SwitchToMode "locked"; }
    bind "x" { CloseTab; SwitchToMode "locked"; }
    bind "n" { GoToNextTab; }
    bind "p" { GoToPreviousTab; }
    bind "n" { NewTab; }
    bind "$" { SwitchToMode "renametab"; }
  }
  session {
    bind "Enter" { SwitchToMode "locked"; }
    bind "d" { Detach; }
    bind "q" { Quit; }
    bind "w" {
      LaunchOrFocusPlugin "session-manager" {
        floating true
        move_to_focused_tab true
      };
      SwitchToMode "Normal"
    }
    bind "c" {
      LaunchOrFocusPlugin "configuration" {
        floating true
        move_to_focused_tab true
      };
      SwitchToMode "Normal"
    }
    bind "p" {
      LaunchOrFocusPlugin "plugin-manager" {
        floating true
        move_to_focused_tab true
      };
      SwitchToMode "Normal"
    }
    bind "a" {
      LaunchOrFocusPlugin "zellij:about" {
        floating true
        move_to_focused_tab true
      };
      SwitchToMode "Normal"
    }
  }
  scroll {
    bind "Enter" { SwitchToMode "locked"; }
    bind "d" { HalfPageScrollDown; }
    bind "u" { HalfPageScrollUp; }
    bind "D" { PageScrollDown; }
    bind "U" { PageScrollUp; }
    bind "j" { ScrollDown; }
    bind "k" { ScrollUp; }
    bind "G" { ScrollToBottom; }
    bind "g" { ScrollToTop; }
  }
  resize {
    bind "Enter" { SwitchToMode "locked"; }
    bind "l" { Resize "Right"; }
    bind "h" { Resize "Left"; }
    bind "j" { Resize "Down"; }
    bind "k" { Resize "Up"; }
    bind "+" { Resize "Increase"; }
    bind "-" { Resize "Decrease"; }
  }
  search {
    bind "Enter" { SwitchToMode "locked"; }
  }
}

// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
    configuration location="zellij:configuration"
    plugin-manager location="zellij:plugin-manager"
}

// Plugins to load in the background when a new session starts
load_plugins {
  // "file:/path/to/my-plugin.wasm"
  // "https://example.com/my-plugin.wasm"
}

env {
}

ui {
    pane_frames {
        rounded_corners false
        hide_session_name false
    }
}

on_force_close "detach"
simplified_ui true
default_shell "zsh"
pane_frames true
// theme "default"
// default_layout "coding"
default_mode "locked"
mouse_mode false
scroll_buffer_size 10000
copy_command "pbcopy"
copy_clipboard "system"
scrollback_editor "/opt/homebrew/bin/nvim"
mirror_session false
// layout_dir "~/.config/zellij/layouts"
// theme_dir "~/.config/zellij/themes"


auto_layout true
session_serialization true
serialize_pane_viewport false

// Scrollback lines to serialize along with the pane viewport when serializing sessions, 0
// defaults to the scrollback size. If this number is higher than the scrollback size, it will
// also default to the scrollback size. This does nothing if `serialize_pane_viewport` is not true.
// (Requires restart)
//
// scrollback_lines_to_serialize 10000


// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//

copy_on_select true
mirror_session false
styled_underlines true
disable_session_metadata false
support_kitty_keyboard_protocol false
